body {
    background-color: #f5f5dc;
    font-family: 'Noto Serif JP', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 800px; /* Increased width */
    border: 5px solid #008000;
}

h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 28px;
    margin-bottom: 20px;
    color: #008000;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #008000;
    font-family: 'Noto Serif JP', serif;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #008000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s;
}

input[type="number"]:focus,
input[type="text"]:focus {
    border-color: #004d40;
    outline: none;
}

button {
    background-color: #1e90ff;
    color: #fff;
    border: 1px solid #008000;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'Noto Serif JP', serif;
}

button:hover {
    background-color: #0073e6;
}

#quizContainer {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #008000;
    border-radius: 5px;
    background-color: #fff;
}

.feedback {
    font-weight: bold;
    margin-top: 10px;
}

.correct {
    color: #388e3c;
}

.incorrect {
    color: #d32f2f;
}

.correct-answer {
    margin-top: 5px;
    font-style: italic;
    color: #f57c00;
}

#stats {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.draw-container {
    margin: 20px 0;
}

#drawCanvas {
    border: 1px solid #008000;
}

#recognizedText {
    font-weight: bold;
    color: #008000;
}
