body {
    font-family: 'Arial', sans-serif;
    background-color: #aeeeee;
    color: #333;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #00796b;
}

label {
    font-size: 1.2em;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00796b;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #e0f7fa;
    color: #333;
    transition: border-color 0.3s;
}

input[type="number"]:focus,
input[type="text"]:focus {
    border-color: #004d40;
    outline: none;
}

button {
    padding: 10px 15px;
    margin: 10px 5px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004d40;
}

#quizContainer {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #00796b;
    border-radius: 5px;
    background-color: #e0f2f1;
}

.feedback {
    font-weight: bold;
    margin-top: 10px;
}

.correct {
    color: #388e3c;
}

.incorrect {
    color: #d32f2f;
}

.correct-answer {
    margin-top: 5px;
    font-style: italic;
    color: #f57c00;
}

#stats {
    margin-top: 20px;
    padding: 10px;
    background-color: #b2fef7;
    border-radius: 5px;
}
